@use "sass:math";

$handHeightPercent: 0.35;
$handWidthPercent: 0.01;
$handColor: black;
$handBorderRadius: 20px;
$clockBorderWidth: 15px;
$clockBorderColor: #222;
$size: 85vmin;

body {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

#clock {
  position: relative;
  margin: auto;
  height: $size;
  width: $size;
  border: $clockBorderWidth solid $clockBorderColor;
  border-radius: 50%;
}

#hand {
  position: absolute;
  transform-origin: bottom;
}

#hand {
  background: $handColor;
  border-radius: $handBorderRadius $handBorderRadius 0 0;

  height: percentage($handHeightPercent);
  top: percentage(0.5-$handHeightPercent);

  width: percentage($handWidthPercent);
  left: percentage(0.5-$handWidthPercent + math.div($handWidthPercent, 2));
  opacity: 0.8;
}

ul {
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
}

li {
  position: absolute;
  transform-origin: 50% 100%;
  height: calc(#{$size} / 2); // TODO tune
}

.hours {
  left: calc((#{$size} / 2) - 40px); // 10px: to be center
  font-size: 48px;
  line-height: 120px;
}
.hours li {
  width: 0; // TODO
}
.hours span {
  display: block;
}
/*The following code helps you design the number 1*/
.hours li:nth-of-type(1) {
  transform: rotate(-30deg);
}
.hours li:nth-of-type(1) span {
  transform: rotate(30deg);
}
.hours li:nth-of-type(2) {
  transform: rotate(-60deg);
}
.hours li:nth-of-type(2) span {
  transform: rotate(60deg);
}
/*The following code helps design the number 3*/
.hours li:nth-of-type(3) {
  transform: rotate(-90deg);
}
.hours li:nth-of-type(3) span {
  transform: rotate(90deg);
}
.hours li:nth-of-type(4) {
  transform: rotate(-120deg);
}
.hours li:nth-of-type(4) span {
  transform: rotate(120deg);
}
/*The following code helps design the number 5*/
.hours li:nth-of-type(5) {
  transform: rotate(-150deg);
}
.hours li:nth-of-type(5) span {
  transform: rotate(150deg);
}
.hours li:nth-of-type(6) {
  transform: rotate(-180deg);
}
.hours li:nth-of-type(6) span {
  transform: rotate(180deg);
}
/*The following code helps design the number 7*/
.hours li:nth-of-type(7) {
  transform: rotate(-210deg);
}
.hours li:nth-of-type(7) span {
  transform: rotate(210deg);
}
.hours li:nth-of-type(8) {
  transform: rotate(-240deg);
}
.hours li:nth-of-type(8) span {
  transform: rotate(240deg);
}
/*The following code helps design the number 9*/
.hours li:nth-of-type(9) {
  transform: rotate(-270deg);
}
.hours li:nth-of-type(9) span {
  transform: rotate(270deg);
}
.hours li:nth-of-type(10) {
  transform: rotate(-300deg);
}
.hours li:nth-of-type(10) span {
  transform: rotate(300deg);
}
/*The following code helps design the number 11*/
.hours li:nth-of-type(11) {
  transform: rotate(-330deg);
}
.hours li:nth-of-type(11) span {
  transform: rotate(330deg);
}
.hours li:nth-of-type(12) {
  transform: rotate(-360deg);
}
.hours li:nth-of-type(12) span {
  transform: rotate(360deg);
}
